<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <% flash[type].each do |flash| %>
    <p><%= flash %></p>
    <a href="#" class="close">&times;</a>
    <% end %>
  </div>
<% end %>
